html{
  background: url("https://images.unsplash.com/photo-1549002942-c6af9c116f79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif !important;
  }
  
  body{
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: "Inknut Antiqua", serif;
    font-size: 50px;
    color: white;
  }
  
  h2 {
    font-size: 40px;
  }
  
#playerOne_Name {
    font-size: 40px;
    text-align: center;
    margin-bottom: -.7em;
}

#playerTwo_Name {
  font-size: 40px;
  text-align: center;
  margin-bottom: -.7em;
}

#playerOne_Title{
  font-size: 19px;
  text-align: center;
  margin-bottom: -.4em;
}

#playerTwo_Title{
  font-size: 19px;
  text-align: center;
  margin-bottom: -.4em;
}
  
  p {
    font-size: 14px;
  }
  
  
  .container {
  
  }
  
.photo{
  border-radius: 5%;
  width: 150px;
  height: 150px;
}

  #title{
    text-align: center;
  }

  #fightbox {
      display: flex;
      flex-direction: row;
      margin: 25px;
    width: 1000px;
    background: none;
  }

  
  #player1, #player2 {
    /* justify-content: spaced-evenly; */
    width: 45%;
    padding: 50px;
    background-color: white;
    color: #ffe3ab;
    border-radius: 12px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
  }

  #player1 {
    transform: scale(1);
   }

  #player2 {
    transform: scale(1);
  }
  meter {
    width: 100px;
    height: 25px;
    justify-items: center;
  }

  button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: .2em;
  }

  #buttonbox1, #buttonbox2 {

  }
/*   
  #player2 {
    float: right;
    width: 45%;
    padding: 50px;
    background-color: #7e4e2e;
    color: #ffe3ab;
  } */
