* {
    box-sizing: border-box;

  }
  
  h1 {
    font-family: "Inknut Antiqua", serif;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #7e4e2e;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 25px;
    text-align: center;
  }
  
  p {
    font-size: 14px;
  }
  
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  body {
    background-image: url("https://images.unsplash.com/photo-1618688259579-54fc3b432a3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffe3ab;
    padding: 20px;
    
  }
.container {
  display:flex;
  align-self: center;
  justify-self: center;
  justify-content:center;
  width: inherit;
  height: 50%;
  background-color: brown;
}
  #fightbox {
    display: flex;
    flex-direction: row; 
    width: 60%;
    background-color: tan;
    justify-self: center;
    align-self: center;
    justify-content: space-around;
  }

  
  #player1, #player2 {
    border-radius:15%;
    width: 45%;
    padding: 50px;
    background-color: blue;
    color: #ffe3ab;
  }
  meter {
    width: 100px;
    height: 25px;
    justify-items: center;
  }

  #buttonbox1 {
    text-align: center;
    padding: 25px;
  }

#buttonbox2 {
    text-align: center;
    padding: 25px;
  }
